:root {
  --color-primary: #0000ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, Arial, sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: #656565;
}

.color-theme {
  color: var(--color-primary);
}

body,
main {
  background: #1d1c1d;
  padding: 0.5rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #373637;
  border-radius: 30px;
  padding: 2.5rem 2rem;
  height: 95vh;
  width: 95%;
  max-width: 400px;
  color: #fefefe;
  margin-right: 50px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-title h2 {
  font-size: 35px;
  font-weight: normal;
  text-transform: capitalize;
}

.card-title p {
  font-size: 16px;
  text-align: right;
  font-weight: 300;
  text-transform: capitalize;
}

.card img {
  margin: 30px 0px;
  width: 80%;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 1px #fff);
}

.card-location h3 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center;
  margin: 20px 0px;
}

.card-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-contact ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-contact ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #656565;
  cursor: pointer;
  color: #656565;
  transition: 0.4s;
}

.card-contact ul li:hover {
  border: 1px solid #fff;
  color: #fff;
}

.card-contact ul li i {
  font-size: 23px;
}

.hire-me {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  font-size: 20px;
  color: #fff;
  background: var(--color-primary);
  cursor: pointer;
  transition: 0.2s;
}

.hire-me:hover {
  box-shadow: 0px 0px 21px 3px var(--color-primary);
}

.container {
  flex: 1;
  height: 95vh;
  max-height: 95vh;
  overflow-y: scroll;
  color: #fff;
}

.container>div {
  min-height: 100vh;
}

.icon-section {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #656565;
  width: min-content;
  font-size: 14px;
  color: #656565;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.4s;
}

.icon-section:hover {
  border-color: #fff;
  color: #fff;
}

#introduction {
  display: flex;
  flex-direction: column;
  padding: 0px 1rem;
}

#introduction h1 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 40px;
}

#introduction .description {
  color: #656565;
  font-size: 16px;
  letter-spacing: 0.5px;
  max-width: 500px;
}

#specialties {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#specialties .title {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 30px;
}

#specialties .education-or-experience {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-left: 1px solid #6565653a;
  padding: 30px 50px;
  padding-top: 0;
  position: relative;
  min-height: 80px;
}

#specialties .date {
  display: inline-block;
  color: #656565;
  margin-bottom: 15px;
}

#specialties .education-or-experience>div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#specialties .education-or-experience>div span {
  display: inline-block;
  color: #656565;
  font-size: 14px;
}

#specialties .circle {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #656565;
  z-index: 1;
  top: 0;
  left: -5px;
}

#skills h2 {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 1px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.skills-container i {
  transition: 0.4s;
}

.skills-container i:hover {
  transform: scale(1.1);
  color: var(--color-primary);
}

.skills-container h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 30px;
  padding-left: 8px;
  border-left: 1px solid var(--color-primary);
}

.skills-container h2 span {
  color: var(--color-primary);
  font-size: 35px;
}

.skill {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 4px 8px;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.bar-skill {
  border: 1px solid #fff;
  height: 10px;
  align-self: flex-end;
  margin-bottom: 20px;
  flex: 1;
}

.bar-percentage {
  height: 100%;
  width: 0%;
  transition: 1.5s;
  box-shadow: 6px 0px 5px var(--color-primary);
}

.logo-skill {
  width: 60px;
}

.logo-skill i {
  font-size: 45px;
  color: #fff;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

#projects>h2 {
  font-size: 26px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #656565;
  width: 100%;
  margin: auto;
}

.name-project {
  font-size: 18px;
  font-weight: normal;
  color: #fefefe;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.technologies-used {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  color: #656565;
}

.technologies-used i {
  font-size: 25px;
}

.project-banner {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #000;
}

#pj-1 {
  background: #1d1c1d url(../img/pj-1.jpeg) no-repeat center top;
  background-size: cover;
}

#pj-2 {
  background: #1d1c1d url(../img/pj-2.jpeg) no-repeat center top;
  background-size: cover;
}

#pj-3 {
  background: #1c1c1c url(../img/pj-3.jpeg) no-repeat center;
  background-size: 60%;
}

#pj-4 {
  background: #202125 url(../img/pj-4.jpeg) no-repeat center;
  background-size: 90%;
}

#pj-5 {
  background: #202125 url(../img/pj-5.jpeg) no-repeat center top;
  background-size: cover;
}

#pj-6 {
  background: #202125 url(../img/pj-6.jpeg) no-repeat center top;
  background-size: cover;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions a {
  display: inline-block;
  background: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  color: #000;
  box-shadow: 0px 0px 10px #0000005d;
  cursor: pointer;
  font-size: 14px;
}

.actions a:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0.3;
  height: 95vh;
  max-height: 95vh;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #656565;
  color: #656565;
  padding: 20px 10px;
  border-radius: 20px;
  transition: 0.3s;
}

.sidebar ul:hover {
  border-color: #fff;
}

.sidebar ul li {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover {
  color: #fff;
}

@media (max-width: 1100px) {
  .card {
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  main {
    position: relative;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }

  #introduction h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .card {
    margin-right: 0;
    max-width: 100%;
  }

  .card img {
    width: 200px;
  }

  .container {
    max-height: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    height: min-content;
    background: #1d1c1d79;
  }

  .sidebar ul {
    border: none;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
  }

  .sidebar ul li i {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .card-title {
    flex-direction: column;
    gap: 6px;
  }

  .card-title h2 {
    font-size: 25px;
  }

  .card-title p {
    text-align: left;
    font-size: 12px;
    color: #656565;
  }

  #pj-3 {
    background-size: 90%;
  }
}

@media (max-width: 350px) {
  #introduction {
    padding: 0px 0.3rem;
  }

  .card {
    padding: 1.5rem 0.5rem;
  }
}